<div class="container mt-3 w-25">
  <h1>
    Edit Caregiver
  </h1>

  <form #editForm="ngForm" id="editForm">

    <div>
      <strong>First Name:</strong>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="caregiver.firstName">
    </div>
    <div>
      <strong>Last Name:</strong>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="caregiver.lastName">
    </div>
    <div>
      <strong>Date Of Birth:</strong>
      <input type="text" class="form-control" disabled=true name="dateOfBirth" [(ngModel)]="caregiver.dateOfBirth">
    </div>

    <div>
      <strong>Gender:</strong>
      <input type="text" class="form-control" disabled=true name="gender" [(ngModel)]="caregiver.gender">
    </div>

    <div>
      <strong> Address:</strong>
      <input type="text" class="form-control" name="address" [(ngModel)]="caregiver.address">
    </div>

    <div class="p-2">
      <button form="editForm" class="btn btn-success btn-block" (click)='updateCaregiver()'>Save Changes</button>
      <button form="editForm" class="btn btn-light btn-block" [routerLink]="['/caregiver']">Cancel</button>
    </div>
  </form>

</div>
