<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Medical Record</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="getRole() === 2">
      <tr>
        <td>{{patient?.firstName }}</td>
        <td>{{patient?.lastName}}</td>
        <td>{{patient?.dateOfBirth}}</td>
        <td>{{patient?.gender}}</td>
        <td>{{patient?.address}}</td>
        <td>{{patient?.medicalRecord}}</td>


          <button class="btn btn-success w-20" [routerLink]="['/patient/medPlan', getId()]"
            class="btn btn-outline-secondary fa fa-file"></button>


      </tr>
    </ng-container>

    <ng-container *ngIf="getRole() === 1">
      <tr>
        <td>{{caregiver?.firstName}}</td>
        <td>{{caregiver?.lastName}}</td>
        <td>{{caregiver?.dateOfBirth}}</td>
        <td>{{caregiver?.gender}}</td>
        <td>{{caregiver?.address}}</td>


          <button class="btn btn-success w-20" [routerLink]="['/caregiver/patients/', getId()]"
            class="btn btn-outline-secondary fa fa-user-circle"></button>


      </tr>
    </ng-container>

    <ng-container *ngIf="getRole() === 0">
     Hello!
    </ng-container>

  </tbody>
</table>
