<div  class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-4">
<form >
    <h2 class="text-center text-primary">Sign In</h2>
    <hr>
    <input class="form-control mr-sm-2 mb-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
    <div class="form-group text-center pt-2">
        <button class="btn btn-success" (click)='login()' type="submit">Login</button>
        <button class="btn btn-info" [routerLink]="['/register']"  type="submit">Register</button>
      </div>
  </form>

</div>
</div>
</div>
